:root {
  font-family: 'Poppins', sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: var(--default-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-green: #0e3835;
  --secondary-green: #ebefe2;
  --default-white: #ffffff;
  --default-black: #000000;
  --red: #e11313;
  --light-gray: #f7f4f8;
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.ultra-bold {
  font-weight: 900;
}

.text-white {
  color: var(--default-white);
}

.text-black {
  color: var(--default-black);
}

.text-primary-green {
  color: var(--primary-green);
}

.bg-white {
  background-color: var(--default-white);
}

.bg-black {
  background-color: var(--default-black);
}

.bg-primary-green {
  background-color: var(--primary-green);
}

.bg-secondary-green {
  background-color: var(--secondary-green);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

body {
  height: 100vh;
  background-color: var(--light-gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background-color: white;
  background-image: none;
  width: 100%;
  cursor: pointer;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-wrapper::after {
  content: '▼';
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

