:root {
  font-family: 'Poppins', sans-serif, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  font-weight: 400;
  font-style: normal;

  color-scheme: light dark;
  color: var(--default-black);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-green: #0e3835;
  --secondary-green: #ebefe2;
  --default-white: #ffffff;
  --default-black: #000000;
}

.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.ultra-bold {
  font-weight: 900;
}

.text-white {
  color: var(--default-white);
}

.text-black {
  color: var(--default-black);
}

.text-primary-green {
  color: var(--primary-green);
}

.bg-white {
  background-color: var(--default-white);
}

.bg-black {
  background-color: var(--default-black);
}

.bg-primary-green {
  background-color: var(--primary-green);
}

.bg-secondary-green {
  background-color: var(--secondary-green);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}
